.content .container-fluid #newPatientCard {
  display: none;
}
.content .container-fluid #patientPaymentDetailsCard {
  display: none;
}
.content .container-fluid #patientPaymentDetailsCard .insuranceCompany {
  display: none;
}
.content .container-fluid #patientPaymentDetailsCard .schemeName {
  display: none;
}
.content .container-fluid #patientPaymentDetailsCard .principalMemberName {
  display: none;
}
.content .container-fluid #patientPaymentDetailsCard .principalMemberPhone {
  display: none;
}
.content .container-fluid #patientPaymentDetailsCard .principalMemberWorkplace {
  display: none;
}
.content .container-fluid #patientPaymentDetailsCard .insuranceCardNumber {
  display: none;
}
.content .container-fluid #patientPaymentDetailsCard .hospitalClientNumber {
  display: none;
}
.content .container-fluid #insuranceSpan {
  display: none;
}
.content .container-fluid .col-md-3 .card-outline .card-body .active {
  color: #264dfa !important;
}
.content .card .card-body .lensPowerDiv {
  margin-bottom: 1rem;
  display: none;
}
.content .card .card-body .lensPrescriptionDiv {
  margin-bottom: 1rem;
  display: none;
}
.content .card .card-body .frameCodesDiv {
  margin-bottom: 1rem;
  display: none;
}
.content .approvalCard {
  display: none;
}
